body{
    margin: 100px 300px;
    
}

.page-name{
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #D9D9D9;
}

.search-box-container{
    margin-top: 30px;
    width: 1320px;
    display: flex;
    justify-content: center;
    
}

.search-box{
    height: 30px;
    width: 840px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #E29A9A;
}

.search-text{
    border: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0;
    color: #797979;
    font-size: 20px;
    line-height: 30px;
    width: 600px;
    margin: 0 20px;
}

.search-btn{
    color: black;
    float: right;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    border: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover{
    cursor : pointer;
}

.hashteg{
    margin-top: 30px;
    width: 1320px;
    justify-content: center;
    align-items: center;
    
}

.hash-container-outline{
    display: flex;
    width: 1275px;
    height: 320px;
    background-color: #F6F6F6;
    justify-content: center;
    align-items: center;
    margin:auto;

}

.hash-container-left, .hash-container-center, .hash-container-right{
    width: 420px;
    height: 314px;
    background-color: #EEECEC;
    margin: 3px 3px;
}

.content-menu{
    display: flex;
    width: 1320px;
    height: 60px;
    border-bottom: 1px solid #D9D9D9;
}

.content-total{
    width: 1000px;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: bold;
    
}

.content-latest, .content-pick, .content-chosen, .wall{
    font-size: 17px;
    padding-top: 20px;
    padding-right: 15px;
    margin-left: auto;
    justify-content: left;
}


.container {
    width: 1320px;
    margin: 0 auto;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post-container {
    margin: 40px 23px 40px;
    width: 375px;
    height: 405px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center;
    justify-content: space-between; /* 위쪽 이미지, 아래쪽 제목 */
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 10px; /* 하단 마진을 위한 패딩 */
}

.post-image {
    width: 300px;
    height: 300px;
}

.post-title {
    margin-top: 10px; /* 제목과 이미지 사이의 마진 */
    text-align: center; /* 제목 중앙 정렬 */
    font-size: 16px; /* 제목 크기 설정 */
    font-weight: bold;
    width: 100%; /* 제목이 컨테이너 크기에 맞게 차지 */
    padding: 10px 0; /* 제목과 하단 사이 간격 조정 */
    box-sizing: border-box;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.pagination button:disabled {
    font-weight: bold;
}