/*공간지정*/
*{
  margin: 0;
  padding: 0;
}
 
main{
  margin: 150px 300px 0px 300px;
}


.mybest-title{
  font-size: 36px;
}

.name-box{
  height: 50px;
  font-size: 28px;
  margin: 110px 0 40px 0;
  display: flex;
  align-items: center;
  width: 1320px;
  border-bottom: 2px solid #D9D9D9;
}

.title-mybest{
  font-weight: bold;
}

.mybest-container{
  width: 1320px;
  height: 1500px;
  display: grid;
  /* display: none; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}

.mybest-list{
  height: 465px;
  width: 380px;
  background-color: #fef8ff;
  box-shadow: 0px 4px 4px #00000040;
}

.mybest-imgbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mybest-img{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mybest-box{
  display: flex;
  align-items: center;
  height: 100px;
}

.mybest-content{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mybest-name{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 20px;
}