/*공간지정*/
*{
  margin: 0;
  padding: 0;
}

main{
  margin: 150px 300px 0px 300px;
}


.myprofile-title{
  font-size: 36px;
}

.name-box{
  height: 50px;
  font-size: 36px;
  margin: 40px 0;
  display: flex;
  align-items: center;
  width: 1320px;
  border-bottom: 2px solid #D9D9D9;
}

.title-myprofile{
  font-weight: bold;
}

