<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>발자국이 무성한 곳</title>
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <link rel="stylesheet" href="../../css/template/templateSearch.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/abd96c8f9a.js" crossorigin="anonymous"></script>
    <script src="../../js/template/templateSearch.js"></script>
</head>
<body>
    <div id="header"></div>
    <main>
        <div class="page-name">발자국이 무성한 곳</div>
        <div class="search-box-container">
            <form class="search-box" action="" method="get">
                <input class="search-text" type="text" name="" placeholder="검색어를 입력하세요." onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력하세요.'">
                <button class="search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="best-footprint-container">
            <div class="best-footprint">
                <div class="best-month">이달의 발자국</div>
                <img src="../../img/template/template_footprint.png" alt="">
            </div>
            <div class="best-footprint-contents-container">
                <div class="best-footprint-contents">
                    <a href="http://127.0.0.1:5500/publishing/html/template/templateDetail.html">
                        <img src="../../img/template/suwunhwasoung.png" alt="">
                    </a>
                    <div class="best-contents-title">
                        게시물 제목
                    </div>
                </div>
                <div class="best-footprint-contents">
                    <a href="http://127.0.0.1:5500/publishing/html/template/templateDetail.html">
                        <img src="../../img/template/suwunhwasoung.png" alt="">
                    </a>
                    <div class="best-contents-title">
                        게시물 제목
                    </div>
                </div>
                <div class="best-footprint-contents">
                    <a href="http://127.0.0.1:5500/publishing/html/template/templateDetail.html">
                        <img src="../../img/template/suwunhwasoung.png" alt="">
                    </a>
                    <div class="best-contents-title">
                        게시물 제목
                    </div>
                </div>
                
            </div>
        </div>
        <div class="template-menu">
            <div class="content-total">총 <span id="total-posts">0</span>개</div>
                <input class="content-reference" type="button" value="조회순"></input>
                <div class="wall">|</div>
                <input class="content-pick" type="button" value="찜하기순"></input>

        </div>
        
        <div class="template-container">
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>
            <div class="template-contents">
                <a href="">
                    <img src="../../img/template/image.png" alt="">
                </a>
                <div>게시물 제목</div>
            </div>

        </div>
    </main>
    <div id="footer"></div>
</body>
</html>