<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수도권 힐링 여행</title>
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <link rel="stylesheet" href="../../css/template/templateDetail.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
</head>
<body>
    <div id="header"></div>
    <div id="report"></div>
    <main>
        <div class="title-containerbox">
            수도권 힐링 여행
        </div>
        <div class="placeIcon"> <!-- 조회, 신고, 찜 -->
            <div class="count-wrap">
            <img class="countimg" src="../../img/place/placeDetail/count.png" alt="">
            <p>2.2k</p>
            </div>
            <div>
                <img class="reportimg" src="../../img/place/placeDetail/report.png" alt="">
                <img class="saveimg" src="../../img/main/unsaved.png" alt="">
            </div>
        </div>

        <div class="container-display"> <!-- 일정 태그 테마 -->
            <div class="tag-container">
                <div class="tag-container-schedule">
                    <img class="footprint" src="../../img/journal/footprint_pink.png" alt="">
                    <div class="schedule-container">
                        <div class="schedule">
                            일정
                        </div>
                        <div class="schedule-content">
                            당일여행
                        </div>
                    </div>
                </div>
                <div class="tag-container-schedule">
                    <img class="footprint" src="../../img/journal/footprint_pink.png" alt="">
                    <div class="tag-select-container">
                        <div class="schedule-tag">
                            태그
                        </div>
                        <div class="schedule-tag-content">
                            #친구와 함께
                        </div>
                    </div>
                </div>
                <div class="tag-container-schedule">
                    <img class="footprint" src="../../img/journal/footprint_pink.png" alt="">
                    <div class="thema-container">
                        <div class="schedule-thema">
                            테마
                        </div>
                        <div class="schedule-thema-content">
                            힐링
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Day-container">
            <div class="Day">
                DAY1
            </div>
        </div>
        <div class="template-container">
            <div class="template-box">
                <div class="dashed-line-container">
                    <div class="dashed-line"></div>
                    <div class="numbers">
                        <div class="number">1</div>
                        <div class="number">2</div>
                        <div class="number">3</div>
                    </div>
                </div>
                <div class="location-container">
                    <div class="location">
                        <button class="arrow-button">
                            <img class="arrow left-arrow" src="../../img/journal/왼쪽 화살표.png" alt="">
                        </button>
                        <button class="place">
                            <div class="image-container">
                                <img src="../../img/template/image.png" alt="">
                                <span class="place-name">소품카페</span>
                            </div>
                        </button>
                        <button class="place">
                            <div class="image-container">
                                <img src="../../img/template/경복궁.png" alt="">
                                <span class="place-name">경복궁</span>
                            </div>
                        </button> 
                        <button class="place">
                            <div class="image-container">
                                <img src="../../img/template/suwunhwasoung.png" alt="">
                                <span class="place-name">수원화성</span>
                            </div>
                        </button>    
                        <button class="arrow-button">
                            <img class="arrow right-arrow" src="../../img/journal/오른쪽 화살표.png" alt="">
                        </button>    
                    </div>
                </div>

                <div class="template-detail-container">
                    <div class="triangle"></div> <!-- 삼각형 요소 -->
                    <div class="template-detail-title">
                        <div class="title-number">2</div>
                        <div class="title">경복궁</div>
                    </div>
                    <div class="template-detail-subtitle">
                        서울시 종로구 동산로 268
                    </div>
                    <div class="template-detail-photo-container">
                        <img src="../../img/template/경복궁.png" alt="">
                        <img src="../../img/template/경복궁2.png" alt="">
                        <img src="../../img/template/경복궁3.png" alt="">
                    </div>
                    <div class="template-detail-text-container">
                        <div class="template-detail-text">
                            경복궁은 조선 왕조 제일의 법궁이다. 북으로 북악산을 기대어 자리 잡았고 정문인 광화문 앞으로는 넓은 육조거리(지금의 세종로)가 펼쳐져, 왕도인 한양(서울) 도시 계획의 중심이기도 하다. 1395년 태조 이성계가 창건하였고, 1592년 임진 왜란으로 불타 없어졌다가, 고종 때인 1867년 중건 되었다. 흥선대원도한 중건 경복궁은 500여 동의 건물들이 미로같이 빼곡히 들어선 웅장한 모습 이었다.
                            궁궐 안에는 왕과 관리들의 정무 시설, 왕족들의 생활 공간, 휴식을 위한 후원 공간이 조성되었다. 또한 왕비의 중궁, 세자의 동궁, 고종이 만든 건청궁 등 궁궐안에 다시 여러 작은 궁들이 복잡하게 모인 곳이기도 하다. 그러나 일제 강점기에 거의 대부분의 건물들을 철거하여 근정전 등 극히 일부 중심 건물만 남았고, 조선 총독부 청
                        </div>
                    </div>
                    <div class="near-location-container">
                        <div class="near-location-recommend">
                            인근여행지
                        </div>
                        <a href="https://map.naver.com/p/entry/place/11571730?lng=126.9749148&lat=37.5660945&placePath=%2Fhome&entry=plt&searchType=place&c=15.00,0,0,0,dh" class="near-location-recommend-button">덕수궁 
                        </a>
                        <a href="https://map.naver.com/p/entry/place/11571730?lng=126.9749148&lat=37.5660945&placePath=%2Fhome&entry=plt&searchType=place&c=15.00,0,0,0,dh" class="near-location-recommend-button">덕수궁 
                        </a>
                        <a href="https://map.naver.com/p/entry/place/11571730?lng=126.9749148&lat=37.5660945&placePath=%2Fhome&entry=plt&searchType=place&c=15.00,0,0,0,dh" class="near-location-recommend-button">덕수궁 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="maps-API-container">
            <div>
                지도입니다
            </div>
        </div>
        <div id = "reply-container">
            <div class="name-box">
                발자국 톡(댓글 이름 자리)
            </div>
            <section id = "reply-write">
                <input type="text" name="" id="" placeholder="댓글을 남겨보세요.(100자 이내)" maxlength="100">
                <div id = "submit-reply">
                <button type="button">등&nbsp;&nbsp;록</button>
                </div>
            </section>
            <ul id = "reply">
                <li class = "written">
                <div class="reply-image"><img src="../../img/place/sample_place.png" alt="프사"></div>
                <div class="reply-content">
                    <div class = "content">댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용</div>
                    <div class = "user"><span id = "nick">김카디</span>&nbsp;&nbsp;<span id = "date">24.10.16</span></div>
                    <div class = "likes"><img src="../../img/journal/footprint.png" alt="좋아요"><span>35</span></div>
                </div>
                <div class="reply-buttons">
                    <img src="../../img/message/쪽지함휴지통.png" alt="삭제">
                    <img class="reportimg" src="../../img/message/report.png" alt="신고">
                </div>
                </li>
                <li class = "written">
                <div class="reply-image"><img src="../../img/place/sample_place.png" alt="프사"></div>
                <div class="reply-content">
                    <div class = "content">댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용</div>
                    <div class = "user"><span id = "nick">김카디</span>&nbsp;&nbsp;<span id = "date">24.10.16</span></div>
                    <div class = "likes"><img src="../../img/journal/footprint.png" alt="좋아요"><span>35</span></div>
                </div>
                <div class="reply-buttons">
                    <img src="../../img/message/쪽지함휴지통.png" alt="삭제">
                    <img class="reportimg" src="../../img/message/report.png" alt="신고">
                </div>
                </li>
                <li class = "written">
                <div class="reply-image"><img src="../../img/place/sample_place.png" alt="프사"></div>
                <div class="reply-content">
                    <div class = "content">댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용</div>
                    <div class = "user"><span id = "nick">김카디</span>&nbsp;&nbsp;<span id = "date">24.10.16</span></div>
                    <div class = "likes"><img src="../../img/journal/footprint.png" alt="좋아요"><span>35</span></div>
                </div>
                <div class="reply-buttons">
                    <img src="../../img/message/쪽지함휴지통.png" alt="삭제">
                    <img class="reportimg" src="../../img/message/report.png" alt="신고">
                </div>
                </li>
                <li class = "written">
                <div class="reply-image"><img src="../../img/place/sample_place.png" alt="프사"></div>
                <div class="reply-content">
                    <div class = "content">댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용</div>
                    <div class = "user"><span id = "nick">김카디</span>&nbsp;&nbsp;<span id = "date">24.10.16</span></div>
                    <div class = "likes"><img src="../../img/journal/footprint.png" alt="좋아요"><span>35</span></div>
                </div>
                <div class="reply-buttons">
                    <img src="../../img/message/쪽지함휴지통.png" alt="삭제">
                    <img class="reportimg" src="../../img/message/report.png" alt="신고">
                </div>
                </li>
                <li class = "written">
                <div class="reply-image"><img src="../../img/place/sample_place.png" alt="프사"></div>
                <div class="reply-content">
                    <div class = "content">댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용댓글 내용</div>
                    <div class = "user"><span id = "nick">김카디</span>&nbsp;&nbsp;<span id = "date">24.10.16</span></div>
                    <div class = "likes"><img src="../../img/journal/footprint.png" alt="좋아요">35</div>
                </div>
                <div class="reply-buttons">
                    <img src="../../img/message/쪽지함휴지통.png" alt="삭제">
                    <img class="reportimg" src="../../img/message/report.png" alt="신고">
                </div>
                </li>
            </ul>
            <button type="button" id = "reply-more">더 보기</button>
            <div id="footer"></div>
            <script src="../../js/template/templateDetail.js"></script>
    </main>
</body>
</html>