* {
    margin: 0;
    padding: 0;
  }
  
  a:link, a:visited{
    color : black;
    text-decoration: none;
  }

.modal-container{
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.25);
}
#report-modal{
    width:480px;
    height:600px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

#report-modal-top{
    padding:28px;
    background-color: #FBB4B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    font-size:36px;
}

#report-modal-mid{
    width:75%;
    margin:20px auto;
    display: flex;
    flex-direction: column;
}

#report-modal-mid>div{
    margin: 10px 0;
}

#report-detail{
    height:150px;
    resize: none;
}

#report-modal-tail{
    margin: 28px auto 0 auto;
    width:20%;
}

#report-modal-tail>button{
  padding : 5px 10px;
  width:100%;
  border: 0;
  background-color: #FBB4B4;
  border-radius: 20px;
  cursor: pointer;
}

